body{
    font-size: Ariel, sans-serif;
    text-align: center;
    background-color: #ffe5ec; /*stawberry rosa*/
    background-image: url("../fil/Skärmbild\ 2026-06-09\ 225812.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.keyboard{
      background:#ffb3c698;
      padding: 20px;
      border-radius: 20px;
      width:fit-content;
     margin:auto;

     
}
.row{
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

.key{
    width: 50px;
    height: 50px;
    background: #ffb3c6;
    border:none;
    color:#5a3e36;
    font-weight:bold;
    cursor: pointer;
    
}
.key:hover{
    background: #95d5b2;
}
 .key{
    transition: 0.15s;
 }
.active{
    animation:pop 0.15s;

}
   @keyframes pop{
    0%{
        transform:scale(1);
    }
    50%{
        transform: scale(0.85);
    }
    100%{
        transform: scale(1);
    }
   }  
    .key:nth-child(even){
    background: #b7e4c7;
}