body{
    font-size: Ariel;
    text-align: center;
    background-color: linear-gradient(135 deg, #ffe4ec, #dff7e3);
    color: #333;


}
.keyboard{
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 6px;

     
}

.key{
    width: 60px;
    height: 70px;
    background-color:rgba(0, 0, 0, 0.151);
    color:rgba(57, 42, 42, 0.655);
    font-size: 25px;
    line-height: 60px;
    border-radius: 10px;
}
.active{
    background-color: brown;
    color:white;
}